{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Login - Cinemania{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/movie_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up here</a></p>
</div>
{% endblock %}
