{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Sign Up - Cinemania{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/movie_form.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Create an Account</h1>
    <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <p>Already have an account? <a href="#">Login here</a></p>
</div>
{% endblock %}
